Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database:A database in SQL Server is made up of a collection of tables that stores a specific set of structured data.

SQL databases are relational, use fixed schemas, and are ACID-compliant,
while NoSQL databases are non-relational, schema-less, and offer high scalability and performance.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL commands used to define and manipulate the structure of a database.

CREATE command is used to create a new database object like tables, indexes, views, procedures, etc.
Example: CREATE TABLE employee (id INT, name VARCHAR(50), salary FLOAT);

DROP command is used to delete an existing database object like a table, index, view, procedure, etc.
Example: DROP TABLE employee;

ALTER command is used to modify the structure of an existing database object like adding a new column to a table, renaming an object, etc.
Example: ALTER TABLE employee ADD COLUMN age INT;

TRUNCATE command is used to remove all the data from a table, leaving the structure of the table intact.
Example: TRUNCATE TABLE employee;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL commands used to manipulate data within a database.

INSERT command is used to insert new rows of data into a table.
Example: INSERT INTO employee (id, name, salary) VALUES (1, 'John Doe', 50000);

UPDATE command is used to modify existing rows of data in a table.
Example: UPDATE employee SET salary = 55000 WHERE id = 1;

DELETE command is used to remove rows of data from a table.
Example: DELETE FROM employee WHERE id = 1;

In the above examples, 'employee' is the name of the table, 'id', 'name', 'salary' and 'age' are column names, and 'John Doe' is a value for the 'name' column. The WHERE clause is used to filter which rows should be updated or deleted.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a set of SQL commands used to retrieve data from a database.

SELECT command is used to retrieve data from one or more tables in a database.
Example: SELECT name, salary FROM employee WHERE id = 1;
In the above example, 'employee' is the name of the table, and 'name' and 'salary' are the column names. The WHERE clause is used to filter the results based on a condition, in this case, where the 'id' column equals 1. The result of the query would be a single row containing the name and salary of the employee with an 'id' of 1.

The SELECT statement can be expanded to include more complex queries involving functions, grouping, joining multiple tables, and subqueries.

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or set of columns in a table that uniquely identifies each row of data. It must have a unique value for each row and cannot contain null values. Primary keys are used to enforce data integrity and to link data across multiple tables using foreign keys.

Foreign Key:
A foreign key is a column or set of columns in one table that refers to the primary key of another table. It creates a relationship between the two tables and is used to maintain data consistency and integrity across multiple tables. Foreign keys ensure that data in the child table (the table with the foreign key) references valid data in the parent table (the table with the primary key).

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("insert into test2.test_table values(123,'dipesh',4.5,267,'rahul')")
mydb.commit()
mydb.close()

The cursor() method creates a cursor object that allows us to execute queries and fetch results from the database.
The execute() method is used to execute SQL queries on the database through the cursor object.
It takes an SQL query string as a parameter and executes it. In the above example, we used the execute() method to execute a SELECT query to fetch all rows from the employee table. 
The fetchall() method retrieves all rows from the result set generated by the SELECT query, and the for loop is used to print each row of the result set.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM: Specifies the table(s) or view(s) from which data is retrieved.
2. JOIN: Combines rows from two or more tables based on a related column between them.
3. WHERE: Filters the rows based on a specified condition.
4. GROUP BY: Groups the rows with the same values into summary rows.
5. HAVING: Filters the grouped rows based on a specified condition.
6. SELECT: Retrieves one or more columns of data from one or more tables.
7. DISTINCT: Filters out duplicate rows from the result set.
8. ORDER BY: Sorts the rows in ascending or descending order based on one or more columns.
9. LIMIT: Limits the number of rows returned by the query.