Que1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [12]:
l=[('sachin tendulkar',34357),('ricky ponting',27483),('jack kaills',25534),('virat kohli',24936)]
l.sort(key=lambda x:x[1])
print(l)

[('virat kohli', 24936), ('jack kaills', 25534), ('ricky ponting', 27483), ('sachin tendulkar', 34357)]

Que2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

In [13]:
l1=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Que3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

In [15]:
l2=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x) ,l2))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Que4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [19]:
from functools import reduce
l=[ i for i in range(1,26)]
reduce(lambda x,y:x*y,l)

15511210043330985984000000

Que5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [24]:
l4=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x: x%2==0 and x%3==0 ,l4))

[6, 60, 90, 120]

In [2]:
l5=['python','php','aba','radar','level']
list(filter(lambda x: x==x[::-1],l5))

['php', 'aba', 'radar', 'level']