Que1.which keyword and odd list upto 1 to 25

In [5]:
#.the def keyword is used to create a function
def odd_num():
    l1=[]
    for i in range(0,25):
        if i%2!=0:
            l1.append(i)
    return l1
odd_num()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

Que2. *args and **args use and one-one program

In [11]:

#. *args passes variable number of non-keyworded arguments and on which operation of the tuple can be performed.
def test1(*args):
	return args
test1(1,2,3,23.45,[45,56,67],True)

(1, 2, 3, 23.45, [45, 56, 67], True)

In [12]:
# **kwargs passes variable number of keyword arguments dictionary to function on which operation of a dictionary can be performed.
def test2(**args):
    return args
test2(a="dipesh",b="sojitra",c="kumar")

{'a': 'dipesh', 'b': 'sojitra', 'c': 'kumar'}

Que3. what is iterator and

In [20]:
'''An iterator is an object that contains a countable number of values.
An iterator is an object that can be iterated upon, meaning that you can traverse through all the values. '''
l=[2,4,6,8,10,12,14,16,18,20]
counter=0
for i in l:
    if i<5:
        print(i)
        counter=counter+1
print("how many element is under 5:",counter)

2
4
how many element is under 5: 2

Que4. generator function,yield keyword and example:

In [2]:
 # A generator is a function that returns an iterator that produces a sequence of values when iterated over.
 # yield keyword is used to create a generator function.
def simple():  
    for i in range(10):  
        if(i%2==0):  
         	yield i  
for i in simple():  
    print(i)

0
2
4
6
8

Que.5  prime number upto 1000 and using next() method print first 20 prime number

In [19]:
def prime():
    for i in range(2,1000):
        b=True
        for j in range(2,i):
            if i%j==0:
                b=False
                break
        if b==True:
            yield i
prime_gen = prime()
for i in range(20):
    print(next(prime_gen))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

Que.6 first 10 fibonacci number usinh while loop

In [1]:
n=10
a,b=0,1
i=0
while i<=n:
    print(a)
    a,b=b,a+b
    i=i+1

0
1
1
2
3
5
8
13
21
34
55

Que.7 list comprehension to iterate "pwskills"

In [12]:
s="pwskills"
l1=[]
[i for i in s]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Que.8 palindrome using while loop

In [28]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number: 123

Not a palindrome!

Que.9 odd number 1 to 100 using list comprehension

In [4]:
[i for i in range(100) if i%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]